<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="close()" fill="clear" color="dark">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="./assets/logo.png" [style.width]="'70px'">
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://en.gravatar.com/userimage/71535578/a4803efe6592196d7bcda63224972984.jpg" />
    </ion-avatar>
    <ion-label color="dark">
      Simon Grimm
      <p>saimon@devdactic.com</p>
    </ion-label>
  </ion-item>
  <ion-button expand="full" shape="round" fill="outline" color="dark" class="ion-padding">
    Manage your Google Account
  </ion-button>
 
  <ion-item class="ion-margin-top" lines="none">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    Add another account
  </ion-item>
  <ion-item class="ion-margin-bottom" lines="none">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    Manage accounts on this device
  </ion-item>
</ion-content>
 
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="ion-text-right">
        Privacy Policy
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        Terms of Service
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>